html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 120px;
    border: 1px screen;
    border-radius: 3px;
    background-color: white;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-secondary {
    color: white;
    background-color: #42b72a;
    border-color: #42b72a;
}

h1 {
    font-family: inherit;
    color: rgb(29, 122, 243);
}

p {
    color: rgb(5, 3, 3);
    font-size: x-large;
}

.form-signin {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}